//- mixins добавление изображений через тег picture

mixin picture(path, name, type, alt, title)
  picture&attributes(attributes)
    source(srcset="./img/webp/" + path + name + ".webp" type="image/webp")
    img(src="./img/" + path + name + "." + type alt=alt title=title)
    
//- +picture('Путь до изображения', 'Название изображения', 'формат файлов', 'alt', 'title')(class="picture")