.container {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 2rem;

  @include hd {
    max-width: 72rem;
    padding: 0 1.5rem;
  }

  @include desktop {
    max-width: 60rem;
    padding: 0 1rem;
  }

  @include laptop {
    max-width: 45rem;
  }

  @include tablets {
    max-width: 34rem;
    padding: 0 0.5rem;
  }

  @include phones {
    max-width: 100%;
  }
}

.container--relative {
  position: relative;
}