/* Global wrapper */
.wrapper {
  position: relative;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  &--no-scrollbar {
    height: 100vh;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }


  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}


/* Sections */
.section {
  margin-bottom: 4rem;

  @include laptop {
    margin-bottom: 3rem;
  }

  @include tablets {
    margin-bottom: 2rem;
  }
}