// Default colors
$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);


// Other
$fastdown:      0.2s ease;
$middledown:    0.3s ease;
$slowdown:      0.4s ease;


:root {

  // Color
  --color-default:      #000000;
  --color-white:        #FFFFFF;

  --color-accent:       #3E69DC;
  --color-accent-hover: #385EC1;

  --color-grey:         #848484;
  --color-grey-light:   #F4F6F6;


  // Radius
  --radius-nano:        0.25rem; 
  --radius-small:       0.5rem;
  --radius:             1rem;
  --radius-medium:      1.5rem;
  --radius-big:         2rem;
  --radius-section:     2.5rem;
  --radius-btn:         6rem;
  --radius-full:        50%;


  // Box-shadow
  --box-shadow:          0 0 6px 0 rgba(0,0,0, 0.15);     
  --box-shadow-big:      0 0 14px 0 rgba(0,0,0, 0.15);     
  --box-shadow-card:     0 0 28px 0 rgba(0,0,0, 0.15);   
  

  // Typography
  --font-accent: "RobotoCondensed", Arial, Helvetica, sans-serif;
  --font-family: "OpenSans", Arial, Helvetica, sans-serif;

  --font-heading-1: 700 36px /1.3 var(--font-family);
  --font-heading-2: 700 28px /1.3 var(--font-family);
  --font-heading-3: 700 22px /1.3 var(--font-family);
  
  --font-big: 400 18px /1.4 var(--font-family);
  --font-big-bold: 700 18px /1.4 var(--font-family);
  
  --font-medium: 400 14px /1.4 var(--font-family);
  --font-medium-bold: 700 14px /1.4 var(--font-family);
  
  --font-small: 400 12px /1.4 var(--font-family);
  --font-small-bold: 700 12px /1.4 var(--font-family);
  
  font-family: var(--font-family);
}

@media screen and (max-width: 50rem) {
  :root {
    --font-heading-1: 700 28px /1.4 var(--font-family);
    --font-heading-2: 700 22px /1.4 var(--font-family);
    --font-heading-3: 700 18px /1.4 var(--font-family);
    
    --font-big: 400 16px /1.6 var(--font-family);
    --font-big-bold: 700 16px /1.6 var(--font-family);
    
    --font-medium: 400 14px /1.6 var(--font-family);
    --font-medium-bold: 700 14px /1.6 var(--font-family);
    
    --font-small: 400 14px /1.6 var(--font-family);
    --font-small-bold: 700 14px /1.6 var(--font-family);
  }
}